/* BASE */
    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: 'poppins', sans-serif;
    }

    body {
      background: #ffffff;
      color: #1b1b1b;
      line-height: 1.2;
    }

    a {
      text-decoration: none;
      color: #252525;
    }

    /* ===== BUTTON ===== */

    .btn {
      padding: 10px 18px;
      border-radius: 100px;
      background: #ff0000;
      color: #fff;
      font-weight: 800;
      font-size: 15px;
    }

    .btn:hover {
        background: #1b1b1b;
        transition: all 0.2s ease;
    }

    /* ===== HERO ===== */
    .hero {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 80px 60px;
    }

    .hero-text {
      max-width: 520px;
    }

    .hero-text h1 {
      font-size: 38px;
      margin-bottom: 20px;
    }

    .hero-text p {
      font-size: 14px;
      margin-bottom: 25px;
      color: #555;
    }

    .hero img {
      max-width: 380px;
    }

    /* ===== PROGRAM SECTION ===== */
    .section-title-background{
      padding: 70px 60px;
      background-color: #f5f5f5;
    }

    .section-title {
      text-align: center;
      margin-bottom: 40px;
    }

    .section-title h2 {
        font-size: 30px;
        margin-bottom: 10px;
    }

    .section-title i {
        color: #169c74;
    }

    .cards {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
      gap: 20px;
    }

    .card {
      border-radius: 14px;
      overflow: hidden;
      color: #252525;
    }

    .card img {
      width: 100%;
      height: 300px;
      object-fit: cover;
    }
    .img1 {object-position: 100% 1%;}
    .img2 {object-position: 100% 53%;}

    .card-content {
      padding: 18px;
    }

    .card-content h4 {
        font-weight: 800;
      font-size: 20px;
      margin-bottom: 8px;
    }

    .card-content a {
        color: white;
        background-color: #27272748;
        padding: 5px 10px;
        border-radius: 5px;
      font-size: 12px;
    }

    .card-content a:hover {
        background-color: #156d09;
        transition: ease 0.2s;
    }

    .c1 { background:#cfcfcf; }
    .c2 { background:#5cbe7a; }



    /* ===== WHY US ===== */
    .why {
      background: #5cbe7a;
      text-align: center;
      border-radius: 20px;
      color: #252525;
      padding: 50px;
    }

    .why-item img {
        margin-bottom: 15px;
    }

    .why h2 {
        font-size: 30px;
    }

    .why-grid {
      display: grid;
      justify-self: center;
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
      gap: 30px;
      margin-top: 30px;
    }

    .why-item h4 {
      margin-bottom: 10px;
      text-align: center;
    }



    /* ===== TESTIMONIAL ===== */
.testimonial-section {
  padding: 80px 0;
  text-align: center;
}

.testimonial-section h2 {
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 50px;
}

.carousel {
  position: relative;
  max-width: 900px;
  margin: auto;
}

.carousel-track {
  display: flex;
  justify-content: center;
  align-items: center;
}

.testimonial {
  width: 240px;
  background: white;
  padding: 50px 20px;
  border-radius: 18px;
  opacity: 0.2;
  transform: scale(0.85);
  filter: blur(1.5px);
  transition: all 0.4s ease;
}

.testimonial.active {
  opacity: 1;
  transform: scale(1);
  filter: blur(0);
  box-shadow: 0 0 40px rgba(0,0,0,0.1);
}

.testimonial img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 15px;
}

.testimonial p {
  font-size: 14px;
  color: #555;
  margin-bottom: 15px;
}

.testimonial span {
  display: inline-block;
  padding: 6px 14px;
  border-radius: 20px;
  background: #e0e0e0;
  color: rgb(0, 0, 0);
  font-size: 12px;
  font-weight: 600;
}


/* NAV BUTTON TESTIMONIAL */
.nav {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: #156d09;
  color: white;
  border: none;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  cursor: pointer;
  z-index: 1;
}

.prev { left: 10px; }
.next { right: 10px; }


/* TENTANG KAMI */

.about-us img {
    width: 40%;
    padding: 0px 50px;
}

.about-us {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 40px 40px;
      margin-bottom: 50px;
}

.about-us h2 {
    font-size: 30px;
    margin-bottom: 10px;
}

.about-us a {
    font-size: 15px;
}